name: Auto Preprocessing Stroke

on:
  push:
    branches: [ main, master ]
    paths:
      - 'stroke_raw.csv'
      - 'preprocessing/automate_Felicia.py'
  workflow_dispatch:

jobs:
  preprocess:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'

    - name: Install dependencies
      run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

    - name: Run preprocessing
      run: |
        python preprocessing/automate_Felicia.py || exit 1

    - name: Commit & Push hasil
      run: |
        git config --local user.email "actions@github.com"
        git config --local user.name "GitHub Actions"
        git add preprocessing/stroke_preprocessing/*
        git commit -m "Auto preprocess: update dataset" || echo "Nothing to commit"
        git push