name: Auto Preprocessing Stroke

on:
  push:
    branches: [ main, master ]
    paths:
      - 'stroke_raw.csv'
      - 'preprocessing/automate_Felicia.py'
  workflow_dispatch:

jobs:
  preprocess:
    runs-on: ubuntu-latest
    permissions:
      contents: write  

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3
      with:
        fetch-depth: 0   

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run preprocessing
      run: |
        python preprocessing/automate_Felicia.py || exit 1

    - name: Commit & Push hasil
      run: |
        git config --global user.email "github-actions[bot]@users.noreply.github.com"
        git config --global user.name "github-actions[bot]"

        git pull origin ${{ github.ref }} --rebase || echo "No pull needed"

        git add -A preprocessing/stroke_preprocessing/ || echo "No files to add"
        git commit -m "Auto preprocess: update dataset [$(date +'%Y-%m-%d %H:%M')]" || echo "Nothing to commit"

        git push origin HEAD:${{ github.ref_name }} || git push origin HEAD:${{ github.ref_name }}